<!DOCTYPE html>
<html>
  <head>
    <title>Potacto</title>
    <%= csrf_meta_tags %>

    <script src="https://use.fontawesome.com/2263772b85.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0">
  </head>

  <body>
    <%= favicon_link_tag 'favicon.ico' %>
    <% if @lead != nil %>
    <div class="navbar transparent navbar-default navbar-fixed-top" id="foodie_nav">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <%= link_to image_tag("potactologo.png", alt: "logo", class: "navbar_logo"), '/', class: "navbar_link navbar-brand" %> 
          </div> <!-- end div class="navbar-header" -->
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to "Features", "#", class: "foodie_nav_link_1 navbar_link", id: "features" %>
              </li> 
              <li>
                <%= link_to "Join Our Invite List", "#", class: "foodie_nav_link_1 navbar_link", id: "sign_up_for_beta" %>
              </li> 
            </ul>
          </div> <!-- end div class="collapse navbar-collapse" -->
        </div> <!-- end div class="container" -->
    </div> <!-- end div class="navbar navbar-default navbar-fixed-top" -->
    <% end %>
    <%= yield %>
  </body>
</html>
