<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <script src="https://use.fontawesome.com/2263772b85.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0">

    <meta property="og:url"                content="http://www.potacto.com/lead/foodies" />
    <meta property="og:title"              content="Dining Out Has Never Been Easier" />
    <meta property="og:description"        content="Discover Restaurants, Queue Remotely, Book and Enquire Easily - All in One App" />
    <meta property="og:image"              content="http://www.potacto.com/assets/foodies_image_2-7e3ac1e9d37835589f1afc02348bd171769e49277bc10b3cce758ed9087e5407.png" />
  </head>

  <body>
    <%= favicon_link_tag 'favicon.ico' %>
    <% if @lead != nil %>
    <div class="navbar transparent navbar-default navbar-fixed-top" id="foodie_nav">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <%= link_to image_tag("potactologo.png", alt: "logo", class: "navbar_logo"), '/', class: "navbar_link navbar-brand" %> 
          </div> <!-- end div class="navbar-header" -->
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to "Diners", lead_foodies_path, class: "foodie_nav_link_1 navbar_link" %>
              </li> 
              <li>
                <%= link_to "Restaurant Owners", lead_merchant_path, class: "foodie_nav_link_1 navbar_link" %>
              </li>
              <li>
                <%= link_to "Features", "#", class: "foodie_nav_link_1 navbar_link", id: "features" %>
              </li> 
              <li>
                <%= link_to "Join Our Invite List", "#", class: "foodie_nav_link_1 navbar_link", id: "sign_up_for_beta" %>
              </li> 
            </ul>
          </div> <!-- end div class="collapse navbar-collapse" -->
        </div> <!-- end div class="container" -->
    </div> <!-- end div class="navbar navbar-default navbar-fixed-top" -->
    <% end %>
    <%= yield %>


      <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-91685349-1']);
          _gaq.push(['_trackPageview']);
          <%= render "layouts/ga_events" %>
      </script>


  </body>

</html>
